extends layout
block content
  div(class="container" id="Cool" ng-app="mainApp" ng-controller="formController")
     h2= title
     a(href="/users/index") Home 
     &nbsp;&nbsp;|&nbsp;&nbsp;
     a(href="/users/add") Add User
     form(method='post', action='/users/addUser')
        input(type='text', name='nama', value='', placeholder='nama' ng-model="nama")
        input(type='text', name='kelas', value='', placeholder='kelas' ng-model="kelas")
        input(type='submit', value='Add' ng-bind="btname")